USE [master]
GO
/****** Object:  Database [Fixit]    Script Date: 05/02/2026 16:53:49 ******/
CREATE DATABASE [Fixit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fixit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Fixit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fixit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Fixit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fixit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fixit]
GO
/****** Object:  Table [dbo].[CATEGORIE]    Script Date: 05/02/2026 16:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIE](
	[ID_CAT] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
 CONSTRAINT [CATEGORIE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 05/02/2026 16:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[ID_CLIENT] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[mail] [varchar](50) NULL,
	[tel] [varchar](20) NULL,
	[Adresse] [varchar](100) NOT NULL,
 CONSTRAINT [CLIENT_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERVENTION]    Script Date: 05/02/2026 16:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERVENTION](
	[ID_INTER] [int] IDENTITY(1,1) NOT NULL,
	[Date_Inter] [date] NOT NULL,
	[Prix] [money] NOT NULL,
	[Commentaires] [varchar](max) NULL,
	[ID_PROD] [int] NOT NULL,
 CONSTRAINT [INTERVENTION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_INTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 05/02/2026 16:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[ID_LOGIN] [int] IDENTITY(1,1) NOT NULL,
	[Utilisateur] [varchar](50) NOT NULL,
	[PWD] [varchar](64) NOT NULL,
 CONSTRAINT [LOGIN_PK] PRIMARY KEY CLUSTERED 
(
	[ID_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 05/02/2026 16:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[ID_PROD] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prix] [money] NULL,
	[Date_Install] [date] NULL,
	[MTBF] [int] NOT NULL,
	[Marque] [varchar](50) NOT NULL,
	[ID_CLIENT] [int] NOT NULL,
	[ID_CAT] [int] NOT NULL,
 CONSTRAINT [Produit_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIE] ON 

INSERT [dbo].[CATEGORIE] ([ID_CAT], [Nom]) VALUES (1, N'Clavier')
INSERT [dbo].[CATEGORIE] ([ID_CAT], [Nom]) VALUES (2, N'Souris')
INSERT [dbo].[CATEGORIE] ([ID_CAT], [Nom]) VALUES (3, N'Imprimante')
SET IDENTITY_INSERT [dbo].[CATEGORIE] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([ID_CLIENT], [Nom], [mail], [tel], [Adresse]) VALUES (1, N'LVMH', N'LV@h.com', N'06 55 00 55 8', N'118 avenue des champs élysées')
INSERT [dbo].[CLIENT] ([ID_CLIENT], [Nom], [mail], [tel], [Adresse]) VALUES (3, N'Renault', N'direction@renault.fr', N'06 66 00 07 07', N'billancourt')
INSERT [dbo].[CLIENT] ([ID_CLIENT], [Nom], [mail], [tel], [Adresse]) VALUES (4, N'Peugeot', NULL, N'06 22 85 22 10', N'Paris 15eme')
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
GO
SET IDENTITY_INSERT [dbo].[INTERVENTION] ON 

INSERT [dbo].[INTERVENTION] ([ID_INTER], [Date_Inter], [Prix], [Commentaires], [ID_PROD]) VALUES (1, CAST(N'2021-12-12' AS Date), 20.0000, N'ok', 2)
INSERT [dbo].[INTERVENTION] ([ID_INTER], [Date_Inter], [Prix], [Commentaires], [ID_PROD]) VALUES (2, CAST(N'2024-11-08' AS Date), 2.0000, NULL, 3)
INSERT [dbo].[INTERVENTION] ([ID_INTER], [Date_Inter], [Prix], [Commentaires], [ID_PROD]) VALUES (3, CAST(N'2026-01-25' AS Date), 40.0000, N'tout est ok', 6)
SET IDENTITY_INSERT [dbo].[INTERVENTION] OFF
GO
SET IDENTITY_INSERT [dbo].[LOGIN] ON 

INSERT [dbo].[LOGIN] ([ID_LOGIN], [Utilisateur], [PWD]) VALUES (2, N'Wanley', N'a9f89deecf4e316168d64d1a439c3f82d358e4997b41242f6d9bafb184f45b2c')
INSERT [dbo].[LOGIN] ([ID_LOGIN], [Utilisateur], [PWD]) VALUES (3, N'root', N'4813494d137e1631bba301d5acab6e7bb7aa74ce1185d456565ef51d737677b2')
INSERT [dbo].[LOGIN] ([ID_LOGIN], [Utilisateur], [PWD]) VALUES (4, N'steste', N'f2d81a260dea8a100dd517984e53c56a7523d96942a834b9cdc249bd4e8c7aa9')
SET IDENTITY_INSERT [dbo].[LOGIN] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUIT] ON 

INSERT [dbo].[PRODUIT] ([ID_PROD], [Nom], [Prix], [Date_Install], [MTBF], [Marque], [ID_CLIENT], [ID_CAT]) VALUES (1, N'TheMouse', 5.0000, CAST(N'2024-01-30' AS Date), 24, N'LogipasTech', 4, 2)
INSERT [dbo].[PRODUIT] ([ID_PROD], [Nom], [Prix], [Date_Install], [MTBF], [Marque], [ID_CLIENT], [ID_CAT]) VALUES (2, N'TheKeyboard', 14.0000, CAST(N'2017-01-19' AS Date), 12, N'MSI', 1, 1)
INSERT [dbo].[PRODUIT] ([ID_PROD], [Nom], [Prix], [Date_Install], [MTBF], [Marque], [ID_CLIENT], [ID_CAT]) VALUES (3, N'UC48', 13000.0000, CAST(N'2022-05-16' AS Date), 3, N'DELL', 4, 4)
SET IDENTITY_INSERT [dbo].[PRODUIT] OFF
GO
ALTER TABLE [dbo].[INTERVENTION]  WITH CHECK ADD  CONSTRAINT [INTERVENTION_ID_PROD_FK] FOREIGN KEY([ID_PROD])
REFERENCES [dbo].[PRODUIT] ([ID_PROD])
GO
ALTER TABLE [dbo].[INTERVENTION] CHECK CONSTRAINT [INTERVENTION_ID_PROD_FK]
GO
ALTER TABLE [dbo].[PRODUIT]  WITH CHECK ADD  CONSTRAINT [Produit_ID_CAT_FK] FOREIGN KEY([ID_CAT])
REFERENCES [dbo].[CATEGORIE] ([ID_CAT])
GO
ALTER TABLE [dbo].[PRODUIT] CHECK CONSTRAINT [Produit_ID_CAT_FK]
GO
ALTER TABLE [dbo].[PRODUIT]  WITH CHECK ADD  CONSTRAINT [Produit_ID_CLIENT_FK] FOREIGN KEY([ID_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID_CLIENT])
GO
ALTER TABLE [dbo].[PRODUIT] CHECK CONSTRAINT [Produit_ID_CLIENT_FK]
GO
/****** Object:  StoredProcedure [dbo].[getInt]    Script Date: 05/02/2026 16:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getInt] 
	@begindate DateTime, 
	@enddate DateTime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	select i.Date_Inter as 'idateinter', i.Prix as 'iprix', 
	i.Commentaires as 'icomment', p.Nom as 'pnom', p.Date_Install as 'pinstall',
	p.MTBF as 'plife', c.Nom as 'cnom', c.tel as 'ctel', ca.Nom as 'canom'
	from 
	INTERVENTION i join PRODUIT p on i.ID_PROD = p.ID_PROD join
	CLIENT c on p.ID_CLIENT = c.ID_CLIENT 
	join CATEGORIE ca on p.ID_CAT = ca.ID_CAT
	where i.Date_Inter between @begindate and @enddate
	order by i.Date_Inter
END
GO
USE [master]
GO
